@model IEnumerable<ASP_Seminar.Models.Product>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_ProductPartial",item)
        }
        </div>
</div>
