@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis, tellus eget condimentum ornare, enim mauris gravida sapien, ut auctor est quam vel nulla. Cras eget odio blandit, luctus urna non, placerat dui. Proin ut nunc vitae ante porta consequat ut viverra est. Donec sodales neque sit amet orci rhoncus, eget pulvinar neque tempus. Suspendisse porta euismod tincidunt. Integer ornare eu massa in aliquam. Donec varius ante ut congue aliquam.</p>

<p>Donec non euismod velit. In hac habitasse platea dictumst. Donec fermentum tempor ipsum, ac iaculis tellus rutrum non. Nam lobortis vel justo in laoreet. Proin suscipit justo aliquam tellus vestibulum, et pellentesque eros rutrum. Aliquam risus libero, consectetur et consectetur at, facilisis ac quam. Pellentesque lacinia quam imperdiet tellus ultricies volutpat. Integer lacinia, nisl eu malesuada laoreet, orci leo congue dolor, non iaculis nunc tellus sed leo. Maecenas efficitur ultricies lacus, nec bibendum elit auctor in. Aenean vel lectus gravida, sagittis velit non, pretium sem. Cras maximus lobortis leo eu auctor. Nam lectus risus, pharetra elementum nibh non, tincidunt facilisis leo. In fermentum lacus ut ligula euismod luctus. Aliquam a finibus turpis, vel aliquam diam. Etiam pellentesque auctor nunc eget suscipit. Aenean eleifend dolor vel urna volutpat, pretium porttitor libero faucibus.</p>

<p>Mauris a urna tincidunt, finibus nibh eu, sollicitudin sem. Mauris lacinia orci vitae urna hendrerit pulvinar. Sed vitae lorem non nibh aliquam gravida. Nam vehicula lacinia elit, non consectetur eros tempus sed. Etiam ligula enim, iaculis vel porta sed, ultricies et risus. Vestibulum quis ex consequat, dapibus dui et, fringilla urna. Fusce eget magna quis ante bibendum tempor. Nunc convallis tempor orci, venenatis interdum est congue sit amet. Duis cursus urna vitae ligula sagittis, et cursus mauris iaculis.</p>