﻿@using Microsoft.AspNetCore.Identity
@using ASP_Seminar.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin"))
{
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Admin" asp-controller="ManageUsers" asp-action="Index">Manage users</a>
                </li>
            </ul>
        </div>

    </li>

}